
<app-navbar></app-navbar>


<div class="flex flex-wrap">
    <div class="mb-10 w-full sm:w-8/12">
      <div class="container mx-auto h-full sm:p-10">
        <nav class="flex items-center justify-between px-4">
          <div class="text-4xl font-bold">Expense Tracker<span class="text-green-700">.</span></div>
          <div>
            <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8" />
          </div>
        </nav>
        <header class="container mt-10 h-full items-center px-4 lg:mt-0 lg:flex">
          <div class="w-full">
            <h1 class="text-4xl font-bold lg:text-6xl">Manage Your Budget, Find Your <span class="text-green-700">Financial Freedom</span></h1>
            <div class="my-4 h-2 w-20 bg-green-700"></div>
            <p class="mb-10 text-xl">Unlock the power of effective budgeting with our easy-to-use tools. Discover how managing your finances can lead to increased savings and reduced stress. Experience the freedom of having your expenses under control, allowing you to prioritize your financial goals and invest in your future without compromise.</p>
            <button [routerLink]="'/signup'" class="rounded bg-LogoGreen px-4 py-2 text-2xl font-medium text-white shadow">Sign up</button>
          </div>
        </header>
      </div>
    </div>
    <img src="https://play-lh.googleusercontent.com/s9XeqgR8NIwNlh9y9898Cz6b9OT6txXtg7Vv9gKdgeeAB2exczw1cgbywdolGa3T" alt="Leafs" class="h-48 w-full object-cover sm:h-screen sm:w-4/12"  />
  </div>
  