

 <app-navbar></app-navbar>


<div class="flex flex-wrap min-h-screen w-full content-center justify-center bg-gray-200 py-10">
  
    <!-- Login component -->
    <div class="flex shadow-md">
      <!-- Login form -->
      <div class="flex flex-wrap content-center justify-center rounded-l-md bg-white" style="width: 24rem; height: 32rem;">
        <div class="w-72">
          <!-- Heading -->
          <h1 class="text-xl font-semibold">Welcome back</h1>
          <small class="text-gray-400">Welcome back! Please enter your details</small>
  
          <!-- Form -->
          <form [formGroup]="loginUserForm" (ngSubmit)="login()" method="post" class="mt-4">
            <div class="mb-3">
              <label class="mb-2 block text-xs font-semibold">Username</label>
              <input type="text" formControlName="userName" placeholder="Enter your username" class="block w-full rounded-md border border-gray-300 focus:border-LogoGreen focus:outline-none focus:ring-1 focus:ring-green-700 py-1 px-1.5 text-gray-500" />
            </div>
  
            <div class="mb-3">
              <label class="mb-2 block text-xs font-semibold">Password</label>
              <input formControlName="password" type="password" placeholder="*****" class="block w-full rounded-md border border-gray-300 focus:border-LogoGreen focus:outline-none focus:ring-1 focus:ring-green-700 py-1 px-1.5 text-gray-500" />
            </div>

            <a [routerLink]="['/forgotPassword']" href="#" class="text-xs text-green-700 hover:text-green-800">Email for password recovery?</a>
  

  
            <div class="mb-3">
              <button type="submit"  class="mb-1.5 block w-full text-center text-white bg-LogoGreen hover:bg-green-600 px-2 py-1.5 rounded-md">Sign in</button>
              <!-- <button type="submit" class="flex flex-wrap justify-center w-full border border-gray-300 hover:border-gray-500 px-2 py-1.5 rounded-md">
                <img class="w-5 mr-2" src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA">
                Sign in with Google
              </button> -->
            </div>
          </form>

          

          
  
          <!-- Footer -->
          <div class="text-left">
            <span class="text-xs text-gray-400 font-semibold">Don't have account?</span>
            <a [routerLink]="['/signup']" routerLinkActive="router-link-active"  href="#" class="text-xs font-semibold text-green-700">Sign up</a>
          </div>
        </div>
      </div>
  
      <!-- Login banner -->
      <div class="flex flex-wrap content-center justify-center rounded-r-md" style="width: 24rem; height: 32rem;">
        <img class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md" src="https://play-lh.googleusercontent.com/s9XeqgR8NIwNlh9y9898Cz6b9OT6txXtg7Vv9gKdgeeAB2exczw1cgbywdolGa3T">
      </div>
  
    </div>
  </div>

  <app-footer></app-footer>